* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Roboto, sans-serif;
    background-color: #ccc;
    height: 1000px;
}
.item {
    margin: auto;
    width: 30%;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

.item_img {
    width: 100%;
    background: url(https://t3.ftcdn.net/jpg/02/36/94/88/360_F_236948807_aDHu2bfA4yQG7VtgDs8grwLiIhqmXtEy.jpg) no-repeat;
    background-size: cover;
    height: 300px;
}
.item_name, .address, .price, .sale, .status {
    margin-top: 5px;
    margin-left: 10px;
}
.address {
    color: #ccc;
    font-size: small;
}
.status {
    color: green;
    font-size: small;
}
.price {
    color: #ccc;
    font-size: small;
    text-decoration: line-through;
}
.sale {
    color: orange;
    font-size: medium;
}
.button {
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
} 
.button button {
    padding: 16px 32px;
    background-color: rgb(254, 128, 43);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: medium;
}
.button button:hover {
    cursor: pointer;
}